/* Cookie consent - https://playground.cookieconsent.orestbida.com/ */

#cc-main {
  --cc-font-family:
    'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --cc-modal-border-radius: 0.5rem;
  --cc-btn-border-radius: 0.375rem;
}

/* Light theme */
:root[data-theme='light'] #cc-main {
  color-scheme: light;
  --cc-bg: #ffffff;
  --cc-primary-color: #1f1e33;
  --cc-secondary-color: #55585f;
  --cc-btn-primary-bg: #7455dd;
  --cc-btn-primary-color: #ffffff;
  --cc-btn-primary-border-color: #7455dd;
  --cc-btn-primary-hover-bg: #512bd4;
  --cc-btn-primary-hover-color: #ffffff;
  --cc-btn-primary-hover-border-color: #512bd4;
  --cc-btn-secondary-bg: transparent;
  --cc-btn-secondary-color: #7455dd;
  --cc-btn-secondary-border-color: #7455dd;
  --cc-btn-secondary-hover-bg: rgba(116, 85, 221, 0.08);
  --cc-btn-secondary-hover-color: #7455dd;
  --cc-btn-secondary-hover-border-color: #7455dd;
  --cc-toggle-on-bg: #7455dd;
  --cc-toggle-off-bg: #c0c2c6;
  --cc-toggle-on-knob-bg: #ffffff;
  --cc-toggle-off-knob-bg: #55585f;
  --cc-toggle-on-knob-icon-color: var(--cc-toggle-on-bg);
  --cc-toggle-off-knob-icon-color: var(--cc-toggle-off-bg);
  --cc-toggle-enabled-icon-color: var(--cc-bg);
  --cc-toggle-disabled-icon-color: var(--cc-btn-primary-color);
  --cc-toggle-readonly-bg: #d5d8db;
  --cc-toggle-readonly-knob-bg: #969899;
  --cc-toggle-readonly-knob-icon-color: var(--cc-toggle-readonly-bg);
  --cc-section-category-border: #eceef1;
  --cc-cookie-category-block-bg: transparent;
  --cc-cookie-category-block-border: transparent;
  --cc-cookie-category-block-hover-bg: rgba(116, 85, 221, 0.05);
  --cc-cookie-category-block-hover-border: transparent;
  --cc-cookie-category-expanded-block-bg: transparent;
  --cc-cookie-category-expanded-block-hover-bg: rgba(116, 85, 221, 0.05);
  --cc-separator-border-color: #eceef1;
  --cc-overlay-bg: rgba(0, 0, 0, 0.1);
  --cc-webkit-scrollbar-bg: var(--cc-section-category-border);
  --cc-webkit-scrollbar-hover-bg: #7455dd;
  --cc-footer-bg: #eceef1;
  --cc-footer-color: var(--cc-secondary-color);
  --cc-footer-border-color: var(--cc-section-category-border);

  .pm__badge {
    font-weight: normal;
    font-size: 0.7rem;
    padding: 0.5rem 0.75rem;
    background-color: color-mix(in srgb, var(--cc-btn-secondary-bg) 95%, black 5%);
  }
}

/* Dark theme */
:root[data-theme='dark'] #cc-main {
  color-scheme: dark;
  --cc-bg: #1f1e33;
  --cc-primary-color: #ffffff;
  --cc-secondary-color: #c6c8cc;
  --cc-btn-primary-bg: #7455dd;
  --cc-btn-primary-color: #ffffff;
  --cc-btn-primary-border-color: #7455dd;
  --cc-btn-primary-hover-bg: #512bd4;
  --cc-btn-primary-hover-color: #ffffff;
  --cc-btn-primary-hover-border-color: #512bd4;
  --cc-btn-secondary-bg: transparent;
  --cc-btn-secondary-color: #c6c8cc;
  --cc-btn-secondary-border-color: var(--cc-separator-border-color);
  --cc-btn-secondary-hover-bg: rgba(116, 85, 221, 0.1);
  --cc-btn-secondary-hover-color: #ffffff;
  --cc-btn-secondary-hover-border-color: #c6c8cc;
  --cc-toggle-on-bg: #7455dd;
  --cc-toggle-off-bg: #55585f;
  --cc-toggle-on-knob-bg: #ffffff;
  --cc-toggle-off-knob-bg: #c6c8cc;
  --cc-toggle-on-knob-icon-color: var(--cc-toggle-on-bg);
  --cc-toggle-off-knob-icon-color: var(--cc-toggle-off-bg);
  --cc-toggle-enabled-icon-color: var(--cc-btn-primary-color);
  --cc-toggle-disabled-icon-color: var(--cc-btn-primary-color);
  --cc-toggle-readonly-bg: #35383e;
  --cc-toggle-readonly-knob-bg: #55585f;
  --cc-toggle-readonly-knob-icon-color: var(--cc-toggle-readonly-bg);
  --cc-section-category-border: #35383e;
  --cc-cookie-category-block-bg: transparent;
  --cc-cookie-category-block-border: transparent;
  --cc-cookie-category-block-hover-bg: rgba(116, 85, 221, 0.1);
  --cc-cookie-category-block-hover-border: transparent;
  --cc-cookie-category-expanded-block-bg: transparent;
  --cc-cookie-category-expanded-block-hover-bg: rgba(116, 85, 221, 0.1);
  --cc-separator-border-color: #35383e;
  --cc-overlay-bg: rgba(0, 0, 0, 0.1);
  --cc-webkit-scrollbar-bg: var(--cc-section-category-border);
  --cc-webkit-scrollbar-hover-bg: #7455dd;
  --cc-footer-bg: #1a1828;
  --cc-footer-color: var(--cc-secondary-color);
  --cc-footer-border-color: var(--cc-section-category-border);

  .pm__badge {
    font-weight: normal;
    font-size: 0.7rem;
    padding: 0.5rem 0.75rem;
    background-color: color-mix(in srgb, var(--cc-btn-secondary-bg) 95%, white 5%);
  }
}

#cc-main .cm,
#cc-main .pm {
  border: 1px solid var(--cc-separator-border-color);
}
