---
import SidebarTopicsSidebar from 'starlight-sidebar-topics/overrides/Sidebar.astro';
import MicrosoftIcon from '@assets/icons/microsoft-icon.svg';
import { Icon, LinkButton } from '@astrojs/starlight/components';

const linkToLearn =
  Astro.locals.starlightRoute.lang === 'en'
    ? 'https://learn.microsoft.com/dotnet/aspire'
    : `https://learn.microsoft.com/${Astro.locals.starlightRoute.locale}/dotnet/aspire`;
---

<div class="topics-sidebar">
  <SidebarTopicsSidebar {...Astro.props}>
    <slot />
  </SidebarTopicsSidebar>
  <div class="divider"></div>
  <div class="sidebar-bottom">
    <LinkButton href={linkToLearn} variant="minimal" title={Astro.locals.t('sidebar.linkToLearn')}>
      <Icon name="left-arrow" />
      <MicrosoftIcon height={'26'} width={'26'} />
      Microsoft Learn
    </LinkButton>
  </div>
</div>

<style>
  .topics-sidebar {
    display: flex;
    flex-direction: column;
  }

  .topics-sidebar .divider {
    flex-grow: 1;
  }

  .topics-sidebar .sidebar-bottom {
    color: var(--aspire-color-secondary);
    margin-top: 1rem;
    border-top: 1px solid var(--sl-color-gray-5);
    text-align: center;
  }

  .topics-sidebar {
    flex-grow: 1;
  }

  .topics-sidebar .sl-link-button {
    padding-bottom: 0rem;
  }
</style>
