---
import Default from '@astrojs/starlight/components/SocialIcons.astro';
import { Icon } from '@astrojs/starlight/components';
import InstallCliModal from '@components/InstallCliModal.astro';
import CookiesSvg from '@assets/icons/cookies.svg';
---

<div class="rss-section sl-flex">
  <a
    href="/rss.xml"
    rel="no"
    rel="noopener noreferrer"
    class="sl-flex external-link"
    target="_blank"
    title="RSS feed"
    aria-label="(RSS feed opens in new tab)"
  >
    <span class="sr-only astro-wy4te6ga">RSS Feed</span>
    <Icon name="rss" />
  </a>
  <button
    class="sl-flex external-link install-cli-btn"
    data-open-install-modal
    title="Install Aspire CLI"
    aria-label="Open install Aspire CLI dialog"
  >
    <span class="sr-only astro-wy4te6ga">Install Aspire CLI</span>
    <Icon name="download" />
  </button>
  <button
    type="button"
    class="sl-flex external-link cookie-consent-btn"
    data-cc="show-preferencesModal"
    title="Cookie preferences"
    aria-label="Open cookie preferences dialog"
  >
    <span class="sr-only astro-wy4te6ga">Cookie Preferences</span>
    <CookiesSvg />
  </button>
</div>

<Default>
  <slot />
</Default>

<InstallCliModal />

<style>
  :root {
    svg {
      --sl-icon-size: 1.25rem !important;
    }

    .rss-section {
      gap: 1rem;
      align-items: center;
    }

    .rss-section a.external-link,
    .rss-section button.external-link {
      color: var(--sl-color-text-accent);
      padding: 0.5em;
      margin: -0.5em;
      background: none;
      border: none;
      cursor: pointer;
      font: inherit;
    }
    .rss-section a.external-link:hover,
    .rss-section button.external-link:hover {
      opacity: 0.66;
    }

    .rss-section::after {
      content: '';
      height: 2rem;
      border-inline-end: 1px solid var(--sl-color-gray-5);
    }
  }
</style>
