---
/**
 * This aside component displays a localized "Free & Open Source" message.
 */
---

<div class="free-open-source-aside">
  <h5 class="aside-title">{Astro.locals.t('landing.freeAndOSS')}</h5>
  <p>
    {Astro.locals.t('landing.aspirePromise')}
  </p>
</div>

<style>
  .aside-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .free-open-source-aside {
    font-size: 1.25rem;
    line-height: 1.5;
    background: var(--aspire-color-primary);
    padding: 2rem 4rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

  .free-open-source-aside,
  .aside-title {
    color: var(--aspire-color-white);
  }
</style>
