---
import { Code, Steps, Tabs, TabItem } from '@astrojs/starlight/components';
import AsciinemaPlayer from '@components/AsciinemaPlayer.astro';
---

<Steps>
  <ol>
    <li>
      <p>{Astro.locals.t('aspire.installCli')}</p>

      <Tabs syncKey="terminal">
        <TabItem label="Bash" icon="seti:shell">
          <Code
            lang="bash"
            title={Astro.locals.t('aspire.installCliGlobally')}
            code="curl -sSL https://aspire.dev/install.sh | bash"
          />
        </TabItem>
        <TabItem label="PowerShell" icon="seti:powershell">
          <Code
            lang="powershell"
            title={Astro.locals.t('aspire.installCliGlobally')}
            code="irm https://aspire.dev/install.ps1 | iex"
          />
        </TabItem>
      </Tabs>
    </li>
    <li>
      <p>{Astro.locals.t('aspire.verifyInstallation')}</p>

      <Tabs syncKey="terminal">
        <TabItem label="Bash" icon="seti:shell">
          <Code lang="bash" title={Astro.locals.t('aspire.checkVersion')} code="aspire --version" />
        </TabItem>
        <TabItem label="PowerShell" icon="seti:powershell">
          <Code
            lang="powershell"
            title={Astro.locals.t('aspire.checkVersion')}
            code="aspire --version"
          />
        </TabItem>
      </Tabs>

      <p>{Astro.locals.t('aspire.verifyInstallationText')}</p>
    </li>
    <li>
      <p>
        {Astro.locals.t('aspire.helpCommand')}
      </p>

      <AsciinemaPlayer src="/casts/aspire-help.cast" poster="npt:0:03" rows="21" />
    </li>
  </ol>
</Steps>
