---
const { id } = Astro.props;
---

<div data-pivot-block={id}>
  <slot />
</div>

<style>
  @layer starlight.components {
    [data-pivot-block] {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
</style>
